[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
graphene-django = "*"
black = "*"
flake8 = "*"
environs = "*"
graphene-pynamodb = "*"
aniso8601 = "*"
psycopg2 = "*"
django-s3direct = "*"
zappa = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
env = "source env/Scripts/activate"
generate = "python manage.py makemigrations"
lint = "sh scripts/linting.sh"
lint-fix = "sh scripts/linting-fix.sh"
migrate = "python manage.py migrate"
start = "python manage.py runserver"

[pipenv]
allow_prereleases = true
