[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
graphene-django = "*"
black = "*"
flake8 = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
env = "source env/Scripts/activate"
generate = "python manage.py makemigrations"
lint = "sh scripts/linting.sh"
lint-fix = "sh scripts/linting-fix.sh"
migrate = "python manage.py migrate"
start = "python manage.py runserver 192.168.0.16:8000"

[pipenv]
allow_prereleases = true
